pkgbase = linux-hardened
	pkgdesc = Security-Hardened Linux
	pkgver = 6.12.17.hardened1
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.17.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.17.tar.sign
	source = https://github.com/anthraxx/linux-hardened/releases/download/v6.12.17-hardened1/linux-hardened-v6.12.17-hardened1.patch
	source = https://github.com/anthraxx/linux-hardened/releases/download/v6.12.17-hardened1/linux-hardened-v6.12.17-hardened1.patch.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	sha256sums = 5c205cd34f80974e4973e321cb008f5f6895a8aa8c2577f06a9448cd77de63b3
	sha256sums = SKIP
	sha256sums = bc4b14739fb21f630b848e19076f0f9353964e8662538c93b195c0f6cac0f495
	sha256sums = SKIP
	sha256sums = efdb48994ca16bb613c1813b94fce6e1df94f437e6bffd66439ca5ffa26f99fb
	b2sums = 70025e9fb55dd808e43f58e5584d46932ac2463203b5c9f86ac5685f59ddadcc22b0b63bf388ce373ae1a9412fe1c19373084b7ea25b493efc20de07f39726a5
	b2sums = SKIP
	b2sums = 08aaebc135b32f58a52b5ea85aeb55ab7b40497c881a75f72a668def08031f4f78e3016cadc39ac7a40b4efa6cc424c3a5659f08da7b330b6b427542d90d4df6
	b2sums = SKIP
	b2sums = 964c51fd13ff1819a2b963aa59b6bd89d186da93e11a49bf533781e1c2ae3e26d1c2893613dd3b452e01036297a38d7489b197d3d6f9b8c09f2968f23723ced3

pkgname = linux-hardened
	pkgdesc = The Security-Hardened Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = usbctl: deny_new_usb control
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux kernel
	depends = pahole

pkgname = linux-hardened-docs
	pkgdesc = Documentation for the Security-Hardened Linux kernel
