pkgbase = linux-hardened
	pkgdesc = Security-Hardened Linux
	pkgver = 6.7.8.hardened1
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.8.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.8.tar.sign
	source = https://github.com/anthraxx/linux-hardened/releases/download/6.7.8-hardened1/linux-hardened-6.7.8-hardened1.patch
	source = https://github.com/anthraxx/linux-hardened/releases/download/6.7.8-hardened1/linux-hardened-6.7.8-hardened1.patch.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	sha256sums = 469ff46b98685df13b56c98417c64ba7a30f8a45baf34aa99f07935e1bf65c18
	sha256sums = SKIP
	sha256sums = 7cf3dddbb7ca007617267fa0883331378d2abe16bcabda2eaa903be5048593bf
	sha256sums = SKIP
	sha256sums = 1d4de6acf7e85186aa6c0ab2864f9eb518612042223c49c4568169f47170cdaf
	b2sums = 1e0d42507f639eedc3405d08f67d720ecc6fd8d53603886c296d67e51ac6aa89d44e94b2ddef98b3c44f6ea1724ca89db7658efaada025284cd03ffd53e95895
	b2sums = SKIP
	b2sums = b566391b7099a7ca274cd219382f1b940d4613d4d3c9ac11359b24b0d0b18ee66cfd41db4741e32469eb5de40f7dcd8118dc6820ff9765ddb5d045af82d0091d
	b2sums = SKIP
	b2sums = b1aef5bfbc7810bd75a3f94eb477029c8cd3ae2e96ed24e2f8884f69554e830ce8e2e366e7fd1bfb617daa9ba24a37e55ebb01f2a803e9daca4072a3cd30939f

pkgname = linux-hardened
	pkgdesc = The Security-Hardened Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = usbctl: deny_new_usb control
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux kernel
	depends = pahole

pkgname = linux-hardened-docs
	pkgdesc = Documentation for the Security-Hardened Linux kernel
