pkgbase = linux-hardened
	pkgdesc = Security-Hardened Linux
	pkgver = 6.14.6.hardened1
	pkgrel = 1
	url = https://github.com/anthraxx/linux-hardened
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.14.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.14.6.tar.sign
	source = https://github.com/anthraxx/linux-hardened/releases/download/v6.14.6-hardened1/linux-hardened-v6.14.6-hardened1.patch
	source = https://github.com/anthraxx/linux-hardened/releases/download/v6.14.6-hardened1/linux-hardened-v6.14.6-hardened1.patch.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = E240B57E2C4630BA768E2F26FC1B547C8D8172C8
	sha256sums = 21817f1998e2230f81f7e4f605fa6fdcb040e14fa27d99c27ddb16ce749797a9
	sha256sums = SKIP
	sha256sums = 8d8e015741e251904aef36b0d7e7a7d867a6743ff33d1dfb40f302b6de9c065e
	sha256sums = SKIP
	sha256sums = 513f54b0ea93fe06a975092497d30e3aa2430c8bf8f0efbca34baba863f4c589
	b2sums = dedcadc0b7506f620da3ac849446539e83d694f0955d5417e063b6680d53ef8993eeef40562ae8dae9249a21bea9746093f8873a360dd74f6b139fbafdd7b9ac
	b2sums = SKIP
	b2sums = d01444293df3334ff2dc43b2940043b1287ec791b72a77608662209754532e96b2fc84351f370fba5e49e0a5f7089845e01f2229c644d88a22d14b99be4bbcfa
	b2sums = SKIP
	b2sums = 987f1be86053f9fbf3acbbd961dbc71171b88eb361820c05d32f7e54233e18173bfaee82bb8b721b31e2b4f7bf3fc9f7dfa05cc2f8d934763e5ccdbeae910bfe

pkgname = linux-hardened
	pkgdesc = The Security-Hardened Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = usbctl: deny_new_usb control
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-hardened-headers
	pkgdesc = Headers and scripts for building modules for the Security-Hardened Linux kernel
	depends = pahole

pkgname = linux-hardened-docs
	pkgdesc = Documentation for the Security-Hardened Linux kernel
